openapi: 3.1.0
info:
  title: HS Battlegrounds RU API
  version: 1.8.1
  description: Public free JSON API for Russian Hearthstone Battlegrounds cards.
servers:
  - url: https://db.kolodahs.ru/api/v1
paths:
  /:
    get:
      summary: API information
      responses:
        "200":
          description: API status and available endpoints.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - version
                  - status
                  - cards_total
                  - heroes_total
                  - hero_skins_total
                  - timewarped_total
                  - library_total
                  - constructed_total
                  - constructed_wiki_total
                  - endpoints
                properties:
                  name:
                    type: string
                  version:
                    type: string
                  status:
                    type: string
                  cards_total:
                    type: integer
                  heroes_total:
                    type: integer
                  hero_skins_total:
                    type: integer
                  timewarped_total:
                    type: integer
                  library_total:
                    type: integer
                  constructed_total:
                    type: integer
                  constructed_wiki_total:
                    type: integer
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
              examples:
                apiInfo:
                  summary: API root response
                  value:
                    name: HS Battlegrounds RU API
                    version: 1.8.1
                    status: ok
                    cards_total: 2352
                    heroes_total: 119
                    hero_skins_total: 701
                    timewarped_total: 161
                    library_total: 524
                    constructed_total: 6331
                    constructed_wiki_total: 6331
                    endpoints:
                      GET /api/v1: Описание API.
                      GET /api/v1/meta: Типы существ, уровни таверны и счетчики.
                      GET /api/v1/cards: Список карт с фильтрами и пагинацией.
                      GET /api/v1/cards?include=wiki: Список карт с wiki-метаданными, если они синхронизированы.
                      GET /api/v1/cards/{card_id}: Одна карта по card_id.
                      GET /api/v1/cards/{card_id}/wiki: Wiki-метаданные карты по card_id.
                      GET /api/v1/cards/by-dbf/{dbf}: Одна карта по dbf.
                      GET /api/v1/heroes: Список героев Полей сражений.
                      GET /api/v1/heroes/{card_id}: Один герой по card_id.
                      GET /api/v1/heroes/by-dbf/{dbf}: Один герой по dbf.
                      GET /api/v1/hero-skins: Список скинов героев Hearthstone со static/animated/full art, Gallery и Sounds.
                      GET /api/v1/hero-skins/{card_id}: Один скин героя по card_id.
                      GET /api/v1/hero-skins/by-dbf/{dbf}: Один скин героя по dbf.
                      GET /api/v1/timewarped-cards: Список хрономальных карт Timewarped Tavern.
                      GET /api/v1/timewarped-cards/{card_id}: Одна хрономальная карта по card_id.
                      GET /api/v1/timewarped-cards/by-dbf/{dbf}: Одна хрономальная карта по dbf.
                      GET /api/v1/anomalies: Библиотека аномалий.
                      GET /api/v1/quests: Библиотека квестов.
                      GET /api/v1/darkmoon-prizes: Библиотека призов Ярмарки Новолуния.
                      GET /api/v1/rewards: Библиотека наград.
                      GET /api/v1/trinkets: Библиотека аксессуаров.
                      GET /api/v1/libraries/{library}: Универсальный доступ к библиотекам.
  /meta:
    get:
      summary: API metadata
      responses:
        "200":
          description: Creature types, mechanics, tavern tiers, and aggregate counters.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                type: object
                required:
                  - totals
                  - creature_types
                  - mechanics
                  - card_types
                  - tavern_tiers
                  - counts_by_tier
                  - counts_by_creature_type
                properties:
                  totals:
                    $ref: "#/components/schemas/Totals"
                  creature_types:
                    type: array
                    items:
                      $ref: "#/components/schemas/CreatureType"
                  mechanics:
                    type: array
                    items:
                      $ref: "#/components/schemas/Mechanic"
                  card_types:
                    type: array
                    items:
                      $ref: "#/components/schemas/CardType"
                  tavern_tiers:
                    type: array
                    items:
                      type: integer
                  counts_by_tier:
                    type: array
                    items:
                      $ref: "#/components/schemas/TierCount"
                  counts_by_creature_type:
                    type: array
                    items:
                      $ref: "#/components/schemas/CreatureTypeCount"
              examples:
                meta:
                  summary: Metadata with mechanics
                  value:
                    totals:
                      cards: 2352
                      minions: 2245
                      spells: 107
                      heroes: 119
                      hero_skins: 701
                      timewarped: 161
                      libraries: 524
                      constructed: 6331
                      constructed_standard: 1152
                      constructed_wild: 6331
                      constructed_wiki_ok: 6331
                      in_pool: 350
                      duos_only: 78
                      with_framed_image: 2352
                    creature_types:
                      - slug: all
                        name_ru: Общие
                      - slug: undead
                        name_ru: Нежить
                      - slug: mech
                        name_ru: Механизм
                    mechanics:
                      - slug: BATTLECRY
                        name_ru: Боевой клич
                      - slug: START_OF_COMBAT
                        name_ru: Начало боя
                      - slug: DIVINE_SHIELD
                        name_ru: Божественный щит
                    card_types:
                      - slug: minion
                        name_ru: Существо
                      - slug: spell
                        name_ru: Заклинание
                    tavern_tiers: [1, 2, 3, 4, 5, 6, 7]
                    counts_by_tier:
                      - tavern_tier: 1
                        count: 74
                    counts_by_creature_type:
                      - slug: mech
                        name_ru: Механизм
                        count: 99
  /cards:
    get:
      summary: List cards
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search by Russian/English name, card_id, dbf, or Russian text.
        - name: tier
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 7
        - name: creature_type
          in: query
          schema:
            $ref: "#/components/schemas/CreatureTypeSlug"
        - name: dbf
          in: query
          schema:
            type: integer
            minimum: 0
        - name: card_type
          in: query
          schema:
            type: string
            enum: [minion, spell]
        - name: include
          in: query
          description: Pass `wiki` to include wiki metadata in each returned card when synchronized.
          schema:
            type: string
            enum: [wiki]
        - name: in_pool
          in: query
          schema:
            type: integer
            enum: [0, 1]
        - name: duos_only
          in: query
          schema:
            type: integer
            enum: [0, 1]
        - name: updated_since
          in: query
          description: Return cards with updated_at greater than or equal to this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
          example: "2026-06-12T00:00:00Z"
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Paginated cards.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardListResponse"
              examples:
                firstInPoolCard:
                  summary: One-card page from the current pool
                  value:
                    data:
                      - id: 15
                        card_id: BG26_146
                        dbf: 98582
                        card_type:
                          slug: minion
                          name_ru: Существо
                        name:
                          ru: Баюбот
                          en: Lullabot
                        tavern_tier: 1
                        creature_type:
                          slug: mech
                          name_ru: Механизм
                        attack: 2
                        health: 2
                        in_pool: true
                        duos_only: false
                        mechanics:
                          - slug: END_OF_TURN_TRIGGER
                            name_ru: В конце хода
                          - slug: MAGNETIC
                            name_ru: Магнетизм
                        text_ru: |-
                          Магнетизм. В конце вашего хода получает +1 к здоровью.

                          Типы: Механизм

                          Механики: END_OF_TURN_TRIGGER, MAGNETIC

                          Золотая версия dbf: 98585
                        images:
                          card: https://db.kolodahs.ru/uploads/cards/BG26_146.png
                          golden: https://db.kolodahs.ru/uploads/golden/BG26_146.png
                          art: https://db.kolodahs.ru/uploads/art/BG26_146.jpg
                          framed: https://db.kolodahs.ru/uploads/framed/BG26_146.png
                        created_at: "2026-06-12 12:56:19"
                        updated_at: "2026-06-12 20:16:19"
                    pagination:
                      page: 1
                      per_page: 1
                      total: 277
                      total_pages: 277
                      has_next: true
                      has_prev: false
        "400":
          $ref: "#/components/responses/Error"
  /cards/by-dbf/{dbf}:
    get:
      summary: Get one card by dbf
      parameters:
        - name: dbf
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
          example: 95267
        - name: include
          in: query
          description: Pass `wiki` to include wiki metadata in the returned card when synchronized.
          schema:
            type: string
            enum: [wiki]
      responses:
        "200":
          description: Card.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardResponse"
              examples:
                nerubianDeathswarmer:
                  $ref: "#/components/examples/NerubianDeathswarmer"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /cards/{card_id}:
    get:
      summary: Get one card by card_id
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
          example: BG25_011
        - name: include
          in: query
          description: Pass `wiki` to include wiki metadata in the returned card when synchronized.
          schema:
            type: string
            enum: [wiki]
      responses:
        "200":
          description: Card.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CardResponse"
              examples:
                nerubianDeathswarmer:
                  $ref: "#/components/examples/NerubianDeathswarmer"
        "404":
          $ref: "#/components/responses/Error"
  /cards/{card_id}/wiki:
    get:
      summary: Get wiki metadata by card_id
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
          example: BG_AT_069
      responses:
        "200":
          description: Wiki metadata.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WikiResponse"
        "404":
          $ref: "#/components/responses/Error"
  /cards/by-dbf/{dbf}/wiki:
    get:
      summary: Get wiki metadata by dbf
      parameters:
        - name: dbf
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
          example: 92878
      responses:
        "200":
          description: Wiki metadata.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WikiResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /timewarped-cards:
    get:
      summary: List Timewarped Tavern cards
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search by Russian/English name, card text, card_id, or dbf.
        - name: tier
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 7
        - name: card_type
          in: query
          schema:
            type: string
            enum: [minion, spell, hero_power]
        - name: dbf
          in: query
          schema:
            type: integer
            minimum: 0
        - name: updated_since
          in: query
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Paginated Timewarped cards.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimewarpedCardListResponse"
        "400":
          $ref: "#/components/responses/Error"
  /timewarped-cards/{card_id}:
    get:
      summary: Get one Timewarped Tavern card by card_id
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
          example: BG34_Giant_009
      responses:
        "200":
          description: Timewarped card.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimewarpedCardResponse"
        "404":
          $ref: "#/components/responses/Error"
  /timewarped-cards/by-dbf/{dbf}:
    get:
      summary: Get one Timewarped Tavern card by dbf
      parameters:
        - name: dbf
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
          example: 126343
      responses:
        "200":
          description: Timewarped card.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimewarpedCardResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /anomalies:
    get:
      summary: List Battlegrounds anomalies
      parameters:
        - $ref: "#/components/parameters/LibraryQuery"
        - $ref: "#/components/parameters/LibraryDbfQuery"
        - $ref: "#/components/parameters/LibraryInPoolQuery"
        - $ref: "#/components/parameters/LibraryStatusQuery"
        - $ref: "#/components/parameters/UpdatedSinceQuery"
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PerPageQuery"
      responses:
        "200":
          description: Paginated library cards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardListResponse"
  /quests:
    get:
      summary: List Battlegrounds quests
      parameters:
        - $ref: "#/components/parameters/LibraryQuery"
        - $ref: "#/components/parameters/LibraryDbfQuery"
        - $ref: "#/components/parameters/LibraryInPoolQuery"
        - $ref: "#/components/parameters/LibraryStatusQuery"
        - $ref: "#/components/parameters/UpdatedSinceQuery"
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PerPageQuery"
      responses:
        "200":
          description: Paginated library cards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardListResponse"
  /darkmoon-prizes:
    get:
      summary: List Battlegrounds Darkmoon Prizes
      parameters:
        - $ref: "#/components/parameters/LibraryQuery"
        - $ref: "#/components/parameters/LibraryDbfQuery"
        - $ref: "#/components/parameters/LibraryInPoolQuery"
        - $ref: "#/components/parameters/LibraryStatusQuery"
        - $ref: "#/components/parameters/LibraryTierQuery"
        - $ref: "#/components/parameters/UpdatedSinceQuery"
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PerPageQuery"
      responses:
        "200":
          description: Paginated library cards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardListResponse"
  /rewards:
    get:
      summary: List Battlegrounds rewards
      parameters:
        - $ref: "#/components/parameters/LibraryQuery"
        - $ref: "#/components/parameters/LibraryDbfQuery"
        - $ref: "#/components/parameters/LibraryInPoolQuery"
        - $ref: "#/components/parameters/LibraryStatusQuery"
        - $ref: "#/components/parameters/UpdatedSinceQuery"
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PerPageQuery"
      responses:
        "200":
          description: Paginated library cards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardListResponse"
  /trinkets:
    get:
      summary: List Battlegrounds trinkets
      parameters:
        - $ref: "#/components/parameters/LibraryQuery"
        - $ref: "#/components/parameters/LibraryDbfQuery"
        - $ref: "#/components/parameters/LibraryInPoolQuery"
        - $ref: "#/components/parameters/LibraryStatusQuery"
        - $ref: "#/components/parameters/LibraryGroupQuery"
        - $ref: "#/components/parameters/UpdatedSinceQuery"
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PerPageQuery"
      responses:
        "200":
          description: Paginated trinket library cards. Use group=lesser or group=greater to split lesser and greater trinkets.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardListResponse"
  /libraries/{library}:
    get:
      summary: List one auxiliary Battlegrounds library
      parameters:
        - $ref: "#/components/parameters/LibraryPath"
        - $ref: "#/components/parameters/LibraryQuery"
        - $ref: "#/components/parameters/LibraryDbfQuery"
        - $ref: "#/components/parameters/LibraryInPoolQuery"
        - $ref: "#/components/parameters/LibraryStatusQuery"
        - $ref: "#/components/parameters/LibraryGroupQuery"
        - $ref: "#/components/parameters/UpdatedSinceQuery"
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PerPageQuery"
      responses:
        "200":
          description: Paginated library cards.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardListResponse"
        "400":
          $ref: "#/components/responses/Error"
  /libraries/{library}/{card_id}:
    get:
      summary: Get one auxiliary library card by card_id
      parameters:
        - $ref: "#/components/parameters/LibraryPath"
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Library card.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroResponse"
        "404":
          $ref: "#/components/responses/Error"
  /libraries/{library}/by-dbf/{dbf}:
    get:
      summary: Get one auxiliary library card by dbf
      parameters:
        - $ref: "#/components/parameters/LibraryPath"
        - name: dbf
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: Library card.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LibraryCardResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /heroes:
    get:
      summary: List Battlegrounds heroes
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search by Russian/English hero name, card_id, dbf, hero power, or buddy.
        - name: dbf
          in: query
          schema:
            type: integer
            minimum: 0
        - name: updated_since
          in: query
          description: Return heroes with updated_at greater than or equal to this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Paginated heroes.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroListResponse"
        "400":
          $ref: "#/components/responses/Error"
  /heroes/{card_id}:
    get:
      summary: Get one Battlegrounds hero by card_id
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
          example: TB_BaconShop_HERO_16
      responses:
        "200":
          description: Hero.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroResponse"
        "404":
          $ref: "#/components/responses/Error"
  /heroes/by-dbf/{dbf}:
    get:
      summary: Get one Battlegrounds hero by dbf
      parameters:
        - name: dbf
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
          example: 57944
      responses:
        "200":
          description: Hero.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /hero-skins:
    get:
      summary: List Hearthstone hero skins
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search by skin name, card_id, dbf, character, actor, artist, class, or category.
        - name: dbf
          in: query
          schema:
            type: integer
            minimum: 0
        - name: class
          in: query
          schema:
            type: string
          description: Hero class slug, for example deathknight, mage, warrior, or neutral.
        - name: category
          in: query
          schema:
            type: string
          description: Wiki category slug, for example 1800_gold_skins, bundle_skins, legendary_skins, mythic_skins, or unavailable.
        - name: has_animated
          in: query
          schema:
            type: integer
            enum: [0, 1]
          description: 1 returns skins with an animated GIF or animated asset IDs.
        - name: has_gallery
          in: query
          schema:
            type: integer
            enum: [0, 1]
          description: 1 returns skins with at least one gallery item.
        - name: has_sounds
          in: query
          schema:
            type: integer
            enum: [0, 1]
          description: 1 returns skins with at least one sound entry.
        - name: updated_since
          in: query
          description: Return skins with updated_at greater than or equal to this ISO 8601 timestamp.
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Paginated hero skins.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroSkinListResponse"
        "400":
          $ref: "#/components/responses/Error"
  /hero-skins/{card_id}:
    get:
      summary: Get one Hearthstone hero skin by card_id
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
          example: HERO_11b
      responses:
        "200":
          description: Hero skin.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroSkinResponse"
        "404":
          $ref: "#/components/responses/Error"
  /hero-skins/by-dbf/{dbf}:
    get:
      summary: Get one Hearthstone hero skin by dbf
      parameters:
        - name: dbf
          in: path
          required: true
          schema:
            type: integer
            minimum: 0
          example: 93448
      responses:
        "200":
          description: Hero skin.
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeroSkinResponse"
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
components:
  headers:
    CacheControl:
      schema:
        type: string
      example: public, max-age=300, stale-while-revalidate=60
    ETag:
      schema:
        type: string
      example: "\"d58383073176b274cbc042447be79f20a62c574dd80d3ad1e0c0b41836331a97\""
    LastModified:
      schema:
        type: string
      example: Fri, 12 Jun 2026 20:17:09 GMT
  parameters:
    LibraryPath:
      name: library
      in: path
      required: true
      schema:
        type: string
        enum: [anomaly, quest, darkmoon_prize, reward, trinket]
    LibraryQuery:
      name: q
      in: query
      schema:
        type: string
      description: Search by Russian/English name, text, card_id, or dbf.
    LibraryDbfQuery:
      name: dbf
      in: query
      schema:
        type: integer
        minimum: 0
    LibraryInPoolQuery:
      name: in_pool
      in: query
      schema:
        type: integer
        enum: [0, 1]
      description: 1 for available/current pool entries, 0 for removed entries.
    LibraryStatusQuery:
      name: status
      in: query
      schema:
        type: string
        enum: [available, removed]
    LibraryGroupQuery:
      name: group
      in: query
      schema:
        type: string
        enum: [lesser, greater]
      description: Trinkets only. lesser = малые аксессуары, greater = большие аксессуары.
    LibraryTierQuery:
      name: tier
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 4
      description: Darkmoon Prizes only. Matches Hearthstone Wiki sections Prize Turn 1..4.
    UpdatedSinceQuery:
      name: updated_since
      in: query
      schema:
        type: string
        format: date-time
    PageQuery:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPageQuery:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
  schemas:
    CreatureTypeSlug:
      type: string
      enum:
        - all
        - undead
        - dragon
        - mech
        - murloc
        - demon
        - quilboar
        - naga
        - pirate
        - beast
        - elemental
    CreatureType:
      type: object
      properties:
        slug:
          $ref: "#/components/schemas/CreatureTypeSlug"
        name_ru:
          type: string
      required:
        - slug
        - name_ru
    MechanicSlug:
      type: string
      enum:
        - AURA
        - AVENGE
        - BACON_RALLY
        - BACON_SPELLCRAFT_ID
        - BATTLECRY
        - CHOOSE_ONE
        - DEATHRATTLE
        - DISCOVER
        - DIVINE_SHIELD
        - END_OF_TURN_TRIGGER
        - InvisibleDeathrattle
        - MAGNETIC
        - POISONOUS
        - REBORN
        - START_OF_COMBAT
        - STEALTH
        - TAUNT
        - TRIGGER_VISUAL
        - VENOMOUS
        - WINDFURY
    Mechanic:
      type: object
      properties:
        slug:
          $ref: "#/components/schemas/MechanicSlug"
        name_ru:
          type: string
          example: Боевой клич
      required:
        - slug
        - name_ru
    CardType:
      type: object
      properties:
        slug:
          type: string
          enum: [minion, spell]
        name_ru:
          type: string
          enum: [Существо, Заклинание]
      required:
        - slug
        - name_ru
    Card:
      type: object
      properties:
        id:
          type: integer
        card_id:
          type: string
        dbf:
          type:
            - integer
            - "null"
        card_type:
          $ref: "#/components/schemas/CardType"
        name:
          type: object
          properties:
            ru:
              type: string
            en:
              type:
                - string
                - "null"
          required:
            - ru
            - en
        tavern_tier:
          type:
            - integer
            - "null"
        creature_type:
          oneOf:
            - $ref: "#/components/schemas/CreatureType"
            - type: "null"
        attack:
          type:
            - integer
            - "null"
        health:
          type:
            - integer
            - "null"
        in_pool:
          type: boolean
        duos_only:
          type: boolean
        mechanics:
          type: array
          description: Mechanics parsed from the card source, such as battlecry, start of combat, divine shield, taunt, reborn, and other Hearthstone Battlegrounds mechanics.
          items:
            $ref: "#/components/schemas/Mechanic"
        text_ru:
          type:
            - string
            - "null"
        images:
          $ref: "#/components/schemas/CardImages"
        wiki_page:
          oneOf:
            - $ref: "#/components/schemas/WikiPage"
            - type: "null"
          description: Hearthstone Wiki page link when wiki sync found a page. Full wiki metadata still requires `include=wiki`.
        created_at:
          type: string
          example: "2026-06-09 14:27:24"
        updated_at:
          type: string
          example: "2026-06-12 20:16:17"
        wiki:
          oneOf:
            - $ref: "#/components/schemas/WikiMeta"
            - type: "null"
          description: Present only when `include=wiki` is requested.
      required:
        - id
        - card_id
        - dbf
        - card_type
        - name
        - tavern_tier
        - creature_type
        - attack
        - health
        - in_pool
        - duos_only
        - mechanics
        - text_ru
        - images
        - wiki_page
        - created_at
        - updated_at
    WikiPage:
      type: object
      properties:
        title:
          type:
            - string
            - "null"
        url:
          type:
            - string
            - "null"
          format: uri
      required:
        - title
        - url
    WikiTermLocalized:
      type: object
      properties:
        name_en:
          type: string
        name_ru:
          type:
            - string
            - "null"
      required:
        - name_en
        - name_ru
    WikiPatchEntry:
      type: object
      properties:
        patch:
          type:
            - string
            - "null"
        patch_url:
          type:
            - string
            - "null"
          format: uri
        date:
          type:
            - string
            - "null"
        items:
          type: array
          items:
            type: string
      required:
        - patch
        - patch_url
        - date
        - items
    WikiPatchGroup:
      type: object
      properties:
        heading:
          type:
            - string
            - "null"
        entries:
          type: array
          items:
            $ref: "#/components/schemas/WikiPatchEntry"
      required:
        - heading
        - entries
    WikiMeta:
      type: object
      properties:
        status:
          type: string
          enum: [ok, missing, error]
        source:
          type: string
          example: hearthstone.wiki.gg
        page:
          type: object
          properties:
            title:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
              format: uri
          required:
            - title
            - url
        artist:
          type:
            - string
            - "null"
        race:
          type:
            - string
            - "null"
        minion_type:
          type:
            - string
            - "null"
        wiki_mechanics:
          type: array
          items:
            type: string
        wiki_mechanics_localized:
          type: array
          items:
            $ref: "#/components/schemas/WikiTermLocalized"
        wiki_tags:
          type: array
          items:
            type: string
        wiki_tags_localized:
          type: array
          items:
            $ref: "#/components/schemas/WikiTermLocalized"
        availability:
          type: object
          additionalProperties: true
        sounds:
          type: array
          items:
            type: object
            additionalProperties: true
        external_links:
          type: array
          items:
            type: object
            additionalProperties: true
        related_cards:
          type: array
          items:
            type: object
            additionalProperties: true
        related_card_ids:
          type: array
          items:
            type: string
        card_changes:
          type: array
          items:
            $ref: "#/components/schemas/WikiPatchGroup"
        fetched_at:
          type:
            - string
            - "null"
        changed_at:
          type:
            - string
            - "null"
        error:
          type:
            - string
            - "null"
      required:
        - status
        - source
        - page
        - artist
        - race
        - minion_type
        - wiki_mechanics
        - wiki_mechanics_localized
        - wiki_tags
        - wiki_tags_localized
        - availability
        - sounds
        - external_links
        - related_cards
        - related_card_ids
        - card_changes
        - fetched_at
        - changed_at
    CardImages:
      type: object
      properties:
        card:
          type:
            - string
            - "null"
          format: uri
        golden:
          type:
            - string
            - "null"
          format: uri
        art:
          type:
            - string
            - "null"
          format: uri
        framed:
          type:
            - string
            - "null"
          format: uri
      required:
        - card
        - golden
        - art
        - framed
    CardResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Card"
      required:
        - data
    WikiResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/WikiMeta"
      required:
        - data
    CardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Card"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
        - data
        - pagination
    TimewarpedCard:
      type: object
      properties:
        card_id:
          type: string
        dbf:
          type:
            - integer
            - "null"
        category:
          type: object
          properties:
            slug:
              type: string
              enum: [timewarped]
            name_ru:
              type: string
          required:
            - slug
            - name_ru
        card_type:
          type: object
          properties:
            slug:
              type:
                - string
                - "null"
              enum: [minion, spell, hero_power, null]
            name_ru:
              type: string
          required:
            - slug
            - name_ru
        name:
          type: object
          properties:
            ru:
              type:
                - string
                - "null"
            en:
              type: string
          required:
            - ru
            - en
        text:
          type: object
          properties:
            ru:
              type:
                - string
                - "null"
            en:
              type:
                - string
                - "null"
          required:
            - ru
            - en
        tavern_tier:
          type:
            - integer
            - "null"
        cost:
          type:
            - integer
            - "null"
        attack:
          type:
            - integer
            - "null"
        health:
          type:
            - integer
            - "null"
        minion_type:
          type:
            - string
            - "null"
        race:
          type:
            - string
            - "null"
        artist:
          type:
            - string
            - "null"
        images:
          type: object
          properties:
            card:
              type:
                - string
                - "null"
              format: uri
            golden:
              type:
                - string
                - "null"
              format: uri
            art:
              type:
                - string
                - "null"
              format: uri
          required:
            - card
            - golden
            - art
        golden:
          type: object
          additionalProperties: true
        wiki:
          allOf:
            - $ref: "#/components/schemas/WikiMeta"
          description: Full wiki payload for Timewarped cards, including availability, related cards, sounds, gallery, card changes, external links, full_tags, fetched_at, and changed_at.
        created_at:
          type: string
        updated_at:
          type: string
      required:
        - card_id
        - dbf
        - category
        - card_type
        - name
        - text
        - images
        - golden
        - wiki
        - created_at
        - updated_at
    TimewarpedCardResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/TimewarpedCard"
      required:
        - data
    TimewarpedCardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/TimewarpedCard"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
        - data
        - pagination
    LibraryCard:
      type: object
      properties:
        library:
          type: object
          properties:
            slug:
              type: string
              enum: [anomaly, quest, darkmoon_prize, reward, trinket]
            name_ru:
              type: string
          required:
            - slug
            - name_ru
        card_id:
          type: string
        dbf:
          type:
            - integer
            - "null"
        name:
          type: object
          properties:
            ru:
              type: string
            en:
              type:
                - string
                - "null"
          required:
            - ru
            - en
        text:
          type: object
          properties:
            ru:
              type:
                - string
                - "null"
            en:
              type:
                - string
                - "null"
          required:
            - ru
            - en
        images:
          type: object
          properties:
            card:
              type:
                - string
                - "null"
              format: uri
            golden:
              type:
                - string
                - "null"
              format: uri
            crop:
              type:
                - string
                - "null"
              format: uri
          required:
            - card
            - golden
            - crop
        artist:
          type:
            - string
            - "null"
        card_type:
          type: object
          additionalProperties: true
        mana_cost:
          type:
            - integer
            - "null"
        in_pool:
          type: boolean
        pool_status:
          type: string
          enum: [available, removed]
        group:
          type: object
          properties:
            slug:
              type:
                - string
                - "null"
              enum: [lesser, greater, null]
            name_ru:
              type:
                - string
                - "null"
          required:
            - slug
            - name_ru
        tier:
          type: object
          description: Darkmoon Prize tier. Active prizes use 1..4 from Wiki sections Prize Turn 1..4; removed prizes and other libraries return null fields.
          properties:
            value:
              type:
                - integer
                - "null"
              minimum: 1
              maximum: 4
            slug:
              type:
                - string
                - "null"
              enum: [tier_1, tier_2, tier_3, tier_4, null]
            name_ru:
              type:
                - string
                - "null"
          required:
            - value
            - slug
            - name_ru
        wiki_page:
          oneOf:
            - $ref: "#/components/schemas/WikiPage"
            - type: "null"
        source:
          type: string
        fetched_at:
          type:
            - string
            - "null"
        changed_at:
          type:
            - string
            - "null"
        created_at:
          type: string
        updated_at:
          type: string
      required:
        - library
        - card_id
        - dbf
        - name
        - text
        - images
        - in_pool
        - pool_status
        - group
        - tier
        - wiki_page
        - source
        - created_at
        - updated_at
    LibraryCardResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/LibraryCard"
      required:
        - data
    LibraryCardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LibraryCard"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
        - data
        - pagination
    HeroCard:
      type: object
      description: Russian card payload for hero power or buddy from Blizzard API.
      properties:
        dbf:
          type:
            - integer
            - "null"
        name:
          type:
            - string
            - "null"
        text:
          type:
            - string
            - "null"
        image:
          type:
            - string
            - "null"
          format: uri
        image_gold:
          type:
            - string
            - "null"
          format: uri
        crop_image:
          type:
            - string
            - "null"
          format: uri
        artist:
          type:
            - string
            - "null"
        parent_id:
          type:
            - integer
            - "null"
        card_type_id:
          type:
            - integer
            - "null"
    Hero:
      type: object
      properties:
        card_id:
          type: string
        dbf:
          type:
            - integer
            - "null"
        hero_id:
          type:
            - integer
            - "null"
        name:
          type: object
          properties:
            ru:
              type:
                - string
                - "null"
            en:
              type:
                - string
                - "null"
          required:
            - ru
            - en
        health:
          type:
            - integer
            - "null"
        armor:
          type: object
          properties:
            normal:
              type:
                - integer
                - "null"
            duos:
              type:
                - integer
                - "null"
            text:
              type:
                - string
                - "null"
          required:
            - normal
            - duos
            - text
        artist:
          type:
            - string
            - "null"
        race:
          type:
            - string
            - "null"
        character:
          type: object
          properties:
            name:
              type:
                - string
                - "null"
            as_hero:
              type:
                - string
                - "null"
            description:
              type:
                - string
                - "null"
          required:
            - name
            - as_hero
            - description
        images:
          type: object
          properties:
            hero:
              type:
                - string
                - "null"
              format: uri
            full_art:
              type:
                - string
                - "null"
              format: uri
          required:
            - hero
            - full_art
        hero_power:
          type: object
          properties:
            dbf:
              type:
                - integer
                - "null"
            card:
              oneOf:
                - $ref: "#/components/schemas/HeroCard"
                - type: "null"
          required:
            - dbf
            - card
        buddy:
          type: object
          properties:
            dbf:
              type:
                - integer
                - "null"
            card:
              oneOf:
                - $ref: "#/components/schemas/HeroCard"
                - type: "null"
          required:
            - dbf
            - card
        wiki:
          $ref: "#/components/schemas/HeroWiki"
        created_at:
          type: string
        updated_at:
          type: string
      required:
        - card_id
        - dbf
        - hero_id
        - name
        - health
        - armor
        - artist
        - race
        - character
        - images
        - hero_power
        - buddy
        - wiki
        - created_at
        - updated_at
    HeroWiki:
      type: object
      properties:
        status:
          type: string
          enum: [ok, missing, error]
        page:
          type: object
          properties:
            title:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
              format: uri
          required:
            - title
            - url
        availability:
          type: object
          additionalProperties: true
        hero_skins:
          type: array
          items:
            type: object
            additionalProperties: true
        gallery:
          type: array
          items:
            type: object
            additionalProperties: true
        card_changes:
          type: array
          items:
            type: object
            additionalProperties: true
        external_links:
          type: array
          items:
            type: object
            additionalProperties: true
        fetched_at:
          type:
            - string
            - "null"
        changed_at:
          type:
            - string
            - "null"
        error:
          type:
            - string
            - "null"
      required:
        - status
        - page
        - availability
        - hero_skins
        - gallery
        - card_changes
        - external_links
        - fetched_at
        - changed_at
        - error
    HeroResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/Hero"
      required:
        - data
    HeroListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Hero"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
        - data
        - pagination
    HeroSkinName:
      type: object
      properties:
        en:
          type:
            - string
            - "null"
      required:
        - en
    HeroSkinClass:
      type: object
      properties:
        id:
          type:
            - integer
            - "null"
        slug:
          type:
            - string
            - "null"
        name_en:
          type:
            - string
            - "null"
        name_ru:
          type:
            - string
            - "null"
      required:
        - id
        - slug
        - name_en
        - name_ru
    HeroSkinCategory:
      type: object
      properties:
        slug:
          type:
            - string
            - "null"
        name_en:
          type:
            - string
            - "null"
        name_ru:
          type:
            - string
            - "null"
      required:
        - slug
        - name_en
        - name_ru
    HeroSkinAnimatedAsset:
      type: object
      properties:
        asset:
          type: string
          description: Game asset ID for an animated portrait variant.
        kind:
          type:
            - string
            - "null"
          description: Variant kind, for example main, main_premium, legendary, or mythic.
      required:
        - asset
        - kind
    HeroSkinImages:
      type: object
      properties:
        static:
          type:
            - string
            - "null"
          format: uri
        animated:
          type:
            - string
            - "null"
          format: uri
          description: Direct animated GIF when Hearthstone Wiki exposes one.
        animated_assets:
          type: array
          description: Animated asset IDs when a direct GIF is not available or a client needs game asset mapping.
          items:
            $ref: "#/components/schemas/HeroSkinAnimatedAsset"
        full_art:
          type:
            - string
            - "null"
          format: uri
      required:
        - static
        - animated
        - animated_assets
        - full_art
    HeroSkinGalleryItem:
      type: object
      properties:
        caption:
          type:
            - string
            - "null"
        file_title:
          type:
            - string
            - "null"
        file_url:
          type:
            - string
            - "null"
          format: uri
      required:
        - caption
        - file_title
        - file_url
    HeroSkinSound:
      type: object
      properties:
        file_title:
          type:
            - string
            - "null"
        file_url:
          type:
            - string
            - "null"
          format: uri
        transcript:
          type:
            - string
            - "null"
        type:
          type:
            - string
            - "null"
      required:
        - file_title
        - file_url
        - transcript
        - type
    HeroSkin:
      type: object
      properties:
        card_id:
          type: string
        dbf:
          type:
            - integer
            - "null"
        name:
          $ref: "#/components/schemas/HeroSkinName"
        class:
          $ref: "#/components/schemas/HeroSkinClass"
        health:
          type:
            - integer
            - "null"
        character:
          type:
            - string
            - "null"
        actor:
          type:
            - string
            - "null"
        artist:
          type:
            - string
            - "null"
        category:
          oneOf:
            - $ref: "#/components/schemas/HeroSkinCategory"
            - type: "null"
        categories:
          type: array
          items:
            $ref: "#/components/schemas/HeroSkinCategory"
        tags:
          type: array
          items:
            type: string
        images:
          $ref: "#/components/schemas/HeroSkinImages"
        gallery:
          type: array
          items:
            $ref: "#/components/schemas/HeroSkinGalleryItem"
        sounds:
          type: array
          items:
            $ref: "#/components/schemas/HeroSkinSound"
        wiki_page:
          type: object
          properties:
            title:
              type:
                - string
                - "null"
            url:
              type:
                - string
                - "null"
              format: uri
          required:
            - title
            - url
        status:
          type: string
          enum: [ok, missing, error]
        error:
          type:
            - string
            - "null"
        fetched_at:
          type:
            - string
            - "null"
        changed_at:
          type:
            - string
            - "null"
        created_at:
          type: string
        updated_at:
          type: string
      required:
        - card_id
        - dbf
        - name
        - class
        - health
        - character
        - actor
        - artist
        - category
        - categories
        - tags
        - images
        - gallery
        - sounds
        - wiki_page
        - status
        - error
        - fetched_at
        - changed_at
        - created_at
        - updated_at
    HeroSkinResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/HeroSkin"
      required:
        - data
    HeroSkinListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/HeroSkin"
        pagination:
          $ref: "#/components/schemas/Pagination"
      required:
        - data
        - pagination
    Pagination:
      type: object
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
        has_next:
          type: boolean
        has_prev:
          type: boolean
      required:
        - page
        - per_page
        - total
        - total_pages
        - has_next
        - has_prev
    Totals:
      type: object
      properties:
        cards:
          type: integer
        minions:
          type: integer
        spells:
          type: integer
        heroes:
          type: integer
        hero_skins:
          type: integer
        timewarped:
          type: integer
        libraries:
          type: integer
        constructed:
          type: integer
        constructed_standard:
          type: integer
        constructed_wild:
          type: integer
        constructed_wiki_ok:
          type: integer
        in_pool:
          type: integer
        duos_only:
          type: integer
        with_framed_image:
          type: integer
      required:
        - cards
        - minions
        - spells
        - heroes
        - hero_skins
        - timewarped
        - libraries
        - constructed
        - constructed_standard
        - constructed_wild
        - constructed_wiki_ok
        - in_pool
        - duos_only
        - with_framed_image
    TierCount:
      type: object
      properties:
        tavern_tier:
          type:
            - integer
            - "null"
        count:
          type: integer
      required:
        - tavern_tier
        - count
    CreatureTypeCount:
      type: object
      properties:
        slug:
          type:
            - string
            - "null"
        name_ru:
          type:
            - string
            - "null"
        count:
          type: integer
      required:
        - slug
        - name_ru
        - count
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
      required:
        - error
  examples:
    NerubianDeathswarmer:
      summary: One card with a battlecry mechanic
      value:
        data:
          id: 9
          card_id: BG25_011
          dbf: 95267
          card_type:
            slug: minion
            name_ru: Существо
          name:
            ru: Неруб-смертороевик
            en: Nerubian Deathswarmer
          tavern_tier: 2
          creature_type:
            slug: undead
            name_ru: Нежить
          attack: 1
          health: 4
          in_pool: true
          duos_only: false
          mechanics:
            - slug: BATTLECRY
              name_ru: Боевой клич
          text_ru: |-
            Боевой клич: ваша нежить получает +1 к атаке до конца матча (где бы она ни была).

            Типы: Нежить

            Механики: BATTLECRY

            Золотая версия dbf: 95268
          images:
            card: https://db.kolodahs.ru/uploads/cards/BG25_011.png
            golden: https://db.kolodahs.ru/uploads/golden/BG25_011.png
            art: https://db.kolodahs.ru/uploads/art/BG25_011.jpg
            framed: https://db.kolodahs.ru/uploads/framed/BG25_011.png
          created_at: "2026-06-09 14:27:24"
          updated_at: "2026-06-12 20:16:17"
  responses:
    Error:
      description: JSON error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalidParameter:
              summary: Invalid dbf path parameter
              value:
                error:
                  code: invalid_parameter
                  message: dbf должен быть целым неотрицательным числом.
            notFound:
              summary: Card not found
              value:
                error:
                  code: not_found
                  message: Карта не найдена.
